'scopeName': 'source.R'
'name': 'R'
'fileTypes': [
  'R'
  'r'
]

'patterns': [
  {
    'begin': '#'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.R'
    'end': '\\n'
    'name': 'comment.line.number-sign.R'
  }
  {
    'match': '\\b(function|if|else|for|in|break|next|return|repeat|switch|while)\\b'
    'name': 'keyword.control.R'
  }
  {
    'match': '\\b(logical|numeric|complex|list|matrix|array|data\\.frame|character|factor)(?=\\s*\\()'
    'name': 'storage.type.R'
  }
  {
    'match': '\\b(TRUE|FALSE|NULL|NA|Inf|NaN)\\b'
    'name': 'constant.language.R'
  }
  {
    'match': '\\b(LETTERS|letters|month\\.abb|month\\.name|pi)\\b'
    'name': 'support.constant.misc.R'
  }
  {
    'match': '(\\+|\\-|\\*|\\/|\\^|%%|%\\/%)'
    'name': 'keyword.operator.arithmetic.R'
  }
  {
    'match': '(=|<-|<<-|->|->>)'
    'name': 'keyword.operator.assignment.R'
  }
]
