'scopeName': 'source.R'
'name': 'R'
'fileTypes': [
  'R'
  'r'
]

'patterns': [
  {
    'begin': '#'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.R'
    'end': '\\n'
    'name': 'comment.line.number-sign.R'
  }
]
