'scopeName': 'source.R'
'name': 'R'
'fileTypes': [
  'R'
  'r'
]

'patterns': [
  {
    'begin': '#'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.R'
    'end': '\\n'
    'name': 'comment.line.number-sign.R'
  }
  {
    'match': '\\b(function|if|else|for|in|break|next|return|repeat|switch|while)\\b'
    'name': 'keyword.control.R'
  }
]
